h1 {
  font-size: 56px;
  font-weight: 900;
}
div {
  font-size: 18px;
  padding: 10px 0px;
  line-height: 30px;
  font-weight: 600;
}
h1,
div,
a {
  margin: 15px;
}
input,
button,
a {
  color: black;
}
a {
  text-decoration: underline;
}
input {
  width: 90%;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 16px;
  padding: 10px;
  background-color: #fff;
}
input:focus,
input:active {
  outline: none;
}
input[type='submit'] {
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
}
input[type='submit'] {
  width: 50%;
  padding: 10px 25px;
  text-align: center;
  font-size: 20px;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 5px;
  color: #f4f4f4;
  cursor: pointer;
}
input[type='submit']:hover {
  background-position: right center;
  text-decoration: none;
}

@media (max-width: 770px) {
  form {
    width: 100%;
  }
  input[type='submit'] {
    width: 100%;
    max-width: 150px;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 36px;
  }
}

@media (max-width: 354px) {
  form a {
    display: flex;
  }
}
