.container {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
}

.wrapper {
  background-color: #262626;
  margin: 75px 0px;
  border-radius: 10px;
  width: 90%;
  max-width: 820px;
  min-height: 250px;
  padding: 25px;
}

.wrapper h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 900;
}

.wrapper form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}

.wrapper form input {
  border: none;
  border-bottom: 1px solid #999;
  background-color: #222222;
  font-size: 16px;
  width: 100%;
  padding: 0px 5px;
  margin: 0px 10px;
}

.wrapper form input:focus,
.wrapper form input:active {
  outline: none;
}

.wrapper .submit {
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
  padding: 5px 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 5px;
  cursor: pointer;
  max-width: 120px;
  width: 100%;
  border: none;
}

.wrapper .submit:hover {
  background-position: right center;
  text-decoration: none;
}

.mainContent {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
